<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:amq="http://activemq.apache.org/schema/core" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
 http://activemq.apache.org/schema/core http://activemq.apache.org/schema/core/activemq-core-5.5.0.xsd">
    
    <amq:queue name="VST_COM_AUDIT_TOPIC" physicalName="ActiveMQ.VST_COM_AUDIT.${jms_node}" />
	
	<!--订单活动消息的生产者   start-->
	<bean id="comAuditMessageProducer" class="com.lvmama.vst.comm.jms.TopicMessageProducer">
		<property name="template" ref="myJmsTemplate" />
		<property name="destination" value="ActiveMQ.VST_COM_AUDIT" />
	</bean>
	<!--订单活动消息的生产者   end-->
	
	<!-- 第二消息队列服务，用于非重要消息发送。-->
	<!-- ActiveMQ secJmsConnectionFactory -->
	<amq:connectionFactory id="secJmsConnectionFactory" brokerURL="${sec_jms_server}" />
	<amq:queue name="ORDER_FOR_DEL_WORKFLOW_MESSAGE.vst_workflow" physicalName="ActiveMQ.ORDER_FOR_DEL_WORKFLOW_MESSAGE.vst_workflow" />
	
	<bean id="secJmsTemplate" class="org.springframework.jms.core.JmsTemplate">
		<property name="connectionFactory">
			<bean class="org.springframework.jms.connection.SingleConnectionFactory">
				<property name="targetConnectionFactory" ref="secJmsConnectionFactory" />
			</bean>
		</property>
	</bean>
	
	<!-- 获取要删除工作流历史数据的订单ID -->
	<bean id="orderIdForWorkflowMessageProducer" class="com.lvmama.vst.comm.jms.TopicMessageProducer">
        <property name="template" ref="secJmsTemplate" />
        <property name="destination" value="ActiveMQ.ORDER_FOR_DEL_WORKFLOW_MESSAGE.vst_workflow" />
    </bean>    
</beans>
